@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;

@layer base {
    [type="search"]::-webkit-search-cancel-button {
        display: none;
    }
}

@tailwind components;

@layer components {
    .carousel-button-active {
        color: theme(colors.text)
    }
    .carousel-button-inactive {
        color: theme(colors.text)
    }
}
@tailwind utilities;

.swiper-button-disabled {
    color: theme(colors.gray.200) !important;
    cursor: default;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}